<div id='toolbar' style='width:602px'></div>

<br/><br/>
<div id='editMe'></div>

<script type="text/javascript" charset="utf-8">
	myapp.addEditor('editMe', 'toolbar', 'the_editor_value')
	// myapp.addDialog()
</script>

<br/><br/>

<% form_tag :action => 'index' do  %>
<input type="hidden" name="the_editor_name" id="the_editor_value">
<%= submit_tag "Submit" %>
<% end %>


<hr>

<%= params[:the_editor_name] %>
