<div id='toolbar' style='width:602px'></div>

<br/><br/>
<div id='editMe'></div>

<script type="text/javascript" charset="utf-8">
	myapp.addEditor('editMe', 'toolbar')
	// myapp.addDialog()
</script>
<button onclick="dialog1.setVisible(true)">Open Dialog</button>
